:root {
    --progress: 0%;
    --pearl: #e2d6b9ff;
    --alloy-orange: #b76227ff;
    --rust: #ac4226ff;
    --sky-blue: #7abfd8ff;
    --forest-green: #3c9131ff;
    --kobicha: #5d3819ff;
    --pacific-cyan: #31aacdff;
    --pacific-cyan-2: #1ca4cbff;
    --carrot-orange: #eb9033ff;
    --brown: #9b3609ff;
    --instruction-padding: 24px;
}

@font-face {
    font-family: 'Zabars';
    src: url('assets/font/Zabars.ttf');
}
@font-face {
    font-family: 'Frederic';
    src: url('assets/font/frederickathegreat.ttf');
}

@font-face {
    font-family: 'Irish';
    src: url('assets/font/IrishGrover-Regular.ttf');
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

html {
    height: 100%;
    font-family: 'Irish', system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    margin-block: 10px;
    font-size: 64px;
    font-weight: 100;
    text-shadow: 3px -3px 0px rgba(0, 0, 0, 0.5);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background-image: url('assets/img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.background-blur{
    background-blend-mode: soft-light;
}

#content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#instructions{
    position: absolute;
    height: 100%;
    z-index: 10000;
    padding: var(--instruction-padding);
    background-size: cover;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    justify-content: center;
    overflow-y: auto;
    width: 100%;
}

.instruction-text{
    max-width: 720px;
}

.close-button{
    position: absolute;
    z-index:50;
    right: var(--instruction-padding) ;
    top:var(--instruction-padding);
    transform: translateX(50px);
}

.privacy-container {
    position: absolute;
    display: flex;
    gap: 20px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
}

.privacy-btn{
    width: 150px;
    cursor: pointer;
    bottom:0;

    & img{
        width: 100%;
    }
}

#generator_results{
    position: relative;
    max-width: 720px;
    width: 100%;
}

#generator_results_content{
    width: 100%;
    padding: var(--instruction-padding);
    word-break: break-word;

    & h3, h2{
        padding-top: 20px;
    }
}

canvas {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    box-shadow: unset;
}

#canvas-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#canvas-overlay,
#gamestate-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rotate-device {
    background: url("assets/img/rotate.jpeg");
    backdrop-filter: blur(4px);
    background-size: contain !important;
    z-index: 500;
}

.left,
.right{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.lost {
    background: url("assets/img/9_intro_outro_screens/game_over/oh no you lost!.png");

}

.won {
    background: url("assets/img/9_intro_outro_screens/win/won_2.png");
    background-size: contain !important;
    background-color: rgba(0, 0, 0, .3);
}

.game-over {
    background: url("assets/img/9_intro_outro_screens/game_over/game over!.png");
}

#loading-screen {
    z-index: 200;
    transform: rotate(15deg);
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 60%;
}

#loading-screen-image{
    height: 100%;
}


.start {
    background: url("assets/img/9_intro_outro_screens/start/startscreen_1.png");
    background-size: contain !important;
    background-position: top !important;
}

.buttons {
    position: absolute;
    top: 0;
    padding: 5px;
    z-index: 500;
    display: flex;
    gap: 5px;
}

.btn {
    width: 50px;
}

.btn:not(.mobile){
    &:hover {
        cursor: pointer;

        filter: brightness(70%);
        -webkit-filter: brightness(70%);
        -webkit-transition: all 125ms ease;
        -moz-transition: all 125ms ease;
        -o-transition: all 125ms ease;
        -ms-transition: all 125ms ease;
        transition: all 125ms ease;
    }
}

.keyboard-keys{
    display: flex;
    padding: 10px;
    width: 100%;
    max-width: 720px;
    height: fit-content;
    z-index: 100;
    justify-content: space-between;
}

.mobile-buttons {
    display: flex;
    padding: 10px;
    width: 90%;
    height: fit-content;
    z-index: 100;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}

.keyboard-keys-fullscreen,
.mobile-buttons-fullscreen {
    position: absolute;
    bottom: 0;
    color: var(--pearl);
}


.key {
    display: flex;
    height: 50px;
    align-items: center;
    gap: 10px;
    font-weight: bold;

    & img {
        width: 60px;
    }
}

.key-mobile:hover {
    cursor: pointer;
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
    -webkit-transition: all 125ms ease;
    -moz-transition: all 125ms ease;
    -o-transition: all 125ms ease;
    -ms-transition: all 125ms ease;
    transition: all 125ms ease;
}

.close-button{
    right: calc(var(--instruction-padding) - var(--instruction-padding) / 2);
    top:calc(var(--instruction-padding) - var(--instruction-padding) / 2);
}

.bg-blur{
    backdrop-filter: blur(5px);
}

.d-flex{
    display:flex;
}

.d-none {
    display: none;
}

.flex-start{
    justify-content: flex-start;
}


@media screen and (max-width: 720px) {
        h1{
            font-size: 48px ;
        }
    .buttons {
        max-width: 200px;
    }

    .btn {
        max-width: 40px;
    }

    .privacy-btn{
        width: 100px;
    }

}

@media screen and (max-width: 550px) {
    h1{
        font-size: 36px ;
    }
    .btn {
        max-width: 30px;
    }
    .key > img{
        width: 40px;
    }

    .keyboard-keys {
        font-size: x-small;       

        .buttons {
            max-width: 150px;
        }

        .btn {
            max-width: 10px;
        }
    }

    #instructions{
        padding: calc(var(--instruction-padding) - var(--instruction-padding) / 2);
    }
    .instruction-text{
        font-size: smaller;
    }
}

@media screen and (max-width: 430px) {
    #generator_results_content{
        font-size: smaller;

        & h1{
            font-size: 24px;
        }
    }
    .btn {
        max-width: 25px;
    }
    .key{
        gap: 3px;
    }

    .key > img{
        width: 30px;
    }
    .privacy-btn{
        width: 75px;
    }
}