:root {
    --progress: 0%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

h1 {
    margin-block: 22px;
}

html {
    height: 100%;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url('assets/img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas {
    /* background-color: black; */
    background-image: url('assets/img/background.jpg');
    width: 100%;
    aspect-ratio: (16/9);
    max-height: 100%;
}

#canvas-overlay,
#gamestate-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;

    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
}

.rotate-device {
    background: url("assets/img/rotate.jpeg");
    background-color: black;
    background-size: contain;
}

.lost {
    background: url("assets/img/9_intro_outro_screens/game_over/oh no you lost!.png");

}

.won {
    background: url("assets/img/9_intro_outro_screens/win/won_2.png");
    background-size: contain !important;
    background-color: rgba(0, 0, 0, .3);
}

.game-over {
    background: url("assets/img/9_intro_outro_screens/game_over/game over!.png");
}

#loading-screen {
    z-index: 200;
    transform: rotate(15deg);
}

.start {
    background: url("assets/img/9_intro_outro_screens/start/startscreen_1.png");
    background-size: contain !important;
    /* FIXME: height not 480px!!! */
}

.buttons {
    position: absolute;
    top: 0;
    padding: 5px;
    z-index: 500000;
}

.btn {
    width: 50px;
    top: 0;

    &:hover {
        cursor: pointer;

        filter: brightness(70%);
        -webkit-filter: brightness(70%);
        -webkit-transition: all 125ms ease;
        -moz-transition: all 125ms ease;
        -o-transition: all 125ms ease;
        -ms-transition: all 125ms ease;
        transition: all 125ms ease;
    }
}

.keyboard-keys {
    display: flex;
    padding: 10px;
    width: 100%;
    max-width: 720px;
    height: fit-content;
    z-index: 100;
    justify-content: space-between;
}

.key {
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    gap: 10px;
    font-weight: bold;

    & img {
        width: 50px;
        height: 50px;

    }

    & :hover {
        cursor: pointer;
        filter: brightness(70%);
        -webkit-filter: brightness(70%);
        -webkit-transition: all 125ms ease;
        -moz-transition: all 125ms ease;
        -o-transition: all 125ms ease;
        -ms-transition: all 125ms ease;
        transition: all 125ms ease;
    }

}

.d-none {
    display: none;
}