*{
    padding: 0;
    margin:0;
}

h1{
    margin-block: 22px;
}

html{
    box-sizing: border-box;
    height: 100%;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-image: url('assets/img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas{
    /* background-color: black; */
    background-image: url('assets/img/background.jpg');
    width: 100%;
    aspect-ratio: (16/9);
    max-height: 100%;
}

.canvasOverlay{
    position: absolute;
    width: 720px;
    height: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* & img{
        width: 100%;
        height: 100%;
    } */
}



.buttons{
    position: absolute;
    top:0;
    padding: 5px;
    z-index: 500000;
}

.btn{
    width: 50px;
    top:0;

    &:hover{
        cursor: pointer;

        filter: brightness(70%);
        -webkit-filter: brightness(70%);
        -webkit-transition: all 125ms ease;
        -moz-transition: all 125ms ease;
        -o-transition: all 125ms ease;
        -ms-transition: all 125ms ease;
        transition: all 125ms ease;

        
    }
}

.d-none{
    display: none;
}
/* #btnPlay{
    position: absolute;
    top:0
} */